<div class="expenses-content" expenses-directive>
	<div class="row">
    <div class="col col-sm-9 col-md-9 no-padding-right">
      <div class="white-box">
      	<p class="text-weight-700 text-center fs-20 cursor-pointer"><span ng-bind="month_today">September</span> <span ng-bind="year_today">2018</span></p>

        <div class="calendar-container">
          
          <div class="weekdays-container">
            <div class="day" ng-repeat="list in weekdays_long">
              <span ng-bind="list"></span>
            </div>
          </div>

          <div class="daysperweek-container">

            <div class="days-container" ng-repeat="weeks in calendar_arr">
              <div class="date" ng-class="{'disabled' : !list.enabled}" ng-repeat="list in weeks.week track by $index" data-toggle="modal" data-target="#showDateModal"> 
                <div class="date-header">
                  <div class="day-date" ng-bind="list.date_number"></div>

                  <div ng-if="list.enabled" class="date-edit-icon">
                    <i class="fa fa-pencil"></i>
                  </div>
                </div>

                <div class="expenses-daily-list">

                  <div class="expense" ng-repeat="expenses in list.expenses_list track by $index">
                    <i class="fa fa-circle color-blue"></i>
                    <div class="expense-name" ng-bind="expenses.description">Fare</div>

                    <div class="expense-value">$<span ng-bind="expenses.value | number:2"></span></div>
                  </div>
                </div>

                <div class="day-total">
                  <div class="total-name">
                    Total
                  </div>

                  <div class="total-value">
                    $<span ng-bind="list.expenses_total | number:2 ">00.00</span><span ng-if="!list.enabled">0.00</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
    <div class="col col-sm-3 col-md-3">
      <div class="white-box">

        <canvas id="expense_id" class="chart chart-pie" chart-data="expensesChartData" chart-labels="expensesChartLabels" chart-options="expensesChartOptions"></canvas>

        <p class="text-weight-700 fs-16 custom-header-border header-title position-relative">Weekly Total</p>
        <div class="weekly-report-container">
          <div class="week-report" ng-repeat="list in [1,2,3,4]">
            <label>
              <span ng-bind="$index + 1"></span>
            </label>

            <div class="weekly-total">
              <p>$1,000.00</p>
            </div>
          </div>
        </div>

        <div class="white-space-20"></div>

        <p class="text-weight-700 fs-16 custom-header-border header-title position-relative">Monthly Investments <a href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a></p>
        <div class="investments-container">
          <div class="investment" ng-repeat="list in [1]">
            <label>
              <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a> 
              <span>House loan</span>
            </label>

            <div class="investment-value">
              <p>$1,000.00</p>
            </div>
          </div>
        </div>

        <div class="white-space-20"></div>

        <p class="text-weight-700 fs-16 custom-header-border header-title position-relative">Monthly Income <a href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a></p>
        <div class="monthly-income-container">
          <div class="monthly-income" ng-repeat="list in [1]">
            <label>
              <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>  
              <span>Default</span>
            </label>

            <div class="income-value">
              <p>$1,000.00</p>
            </div>
          </div>
        </div>

        <div class="white-space-20"></div>

        <p class="text-weight-700 fs-16 custom-header-border header-title position-relative">Grand Total</p>
        <div class="grand-total-container">
          <div class="total-item">
            <label>Total Income</label>
            <div class="total-value">
              <p>$1,000.00</p>
            </div>
          </div>

          <div class="total-item">
            <label>Total Expenses</label>
            <div class="total-value">
              <p>- $1,000.00</p>
            </div>
          </div>

          <div class="total-item" style="background: #f4f4f4;margin-top: 10px;">
            <label style="font-size: 16px;color: #000 !important;">Balance</label>
            <div class="total-value">
              <p>$1,000.00</p>
            </div>
          </div>
        </div>

        <div class="white-space-20"></div>

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="showDateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">September 01, 2018</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>