<div class="wall-content" map-directive>
  <div class="row geo-container">
    <div class="col col-md-3">
      <p class="font-16 text-weight-700">Notifications</p>
      <div class="white-space-10"></div>
      <div class="notif-container">
        <div class="white-box">
          <div class="notif d-flex flex-row" ng-class="{'active':list.active}" ng-repeat="list in notif_list">
            <div class="img-wrapper p-0">
              <img ng-src="assets/expenses/img/users/{{list.img}}">
              <!-- <img src="assets/expenses/img/user-icon.png"> -->
            </div>
            <div class="content col col-9 p-0 justify-content-center align-self-center">
              <p class="name" ng-bind="list.name">Jose Rizal</p>
              <p class="message text-italic" ng-bind="list.message">
                Hi! I am here.
              </p>
            </div>
            
            <div class="icon-wrapper col col-1 p-0 justify-content-center align-self-center">
              <a href="javascript:void(0)" ng-click="selectNotif(list)">
                <i class="fa fa-search font-20"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col col-md-9">
      <div class="white-space-20"></div>
      <div class="white-space-5"></div>
      <div class="map-container">

        <div id="map"></div>

      </div>
    </div>
  </div>
</div>